version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - APP_PORT=8080
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=nofu
      - DB_PASSWORD=nofu2025
      - DB_NAME=nofuproductdb
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=nofu
      - POSTGRES_PASSWORD=nofu2025
      - POSTGRES_DB=nofuproductdb
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    restart: always
