services:
  app:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    image: app.netbird.cloud:8081/be-product/stable:1.0.0
    env_file:
      - .env
    ports:
      - "8091:8080"
    restart: always